* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


ul {
    list-style: none;    
}

.con {
    width: 1500px;
    height: 700px;
    margin: 0 150px;
}



.top {
    display: flex;
    align-items: center;
    height: 100px;
}


.top_ri {
    display: flex ;
}



.mid {
    height: 500px;
    width: 100%;
    background-color: red;
}


.mid_do {
    display: flex;
}

.mid_up {
    width: 300px;
}


.mid_do_le {
    flex: 1;
}

.mid_do_mi {
    flex: 1;
}

.mid_do_ri {
    flex: 1;
}



.mid_do_le_up {
    display: flex;
}




.but {
    display: flex;
    height: 100px;
}



