* {
    padding: 0;margin: 0; box-sizing: border-box;
}


ul {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}


body {
    color: #333;
    background-color: #fff;
}


.wrap {
    width: 1200px;
    margin: 0 auto;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.gmb {
    display: flex;
    align-items: center;
    z-index: 1;
}

.gmb li {
    position: relative;
}


.gmb li a {
    display: block;
    height: 100px;
    padding: 0 50px;
    line-height: 100px;

}


.gmb li:hover a {
    color: orange;
}


.gmb .sub {
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #eee;
    text-align: center;
    display: none;
    width: 100%;
    padding: 10px;
}


.gmb .sub li a {
    display: block;
    padding: 14px;
}

.gmb .sub li a:hover {
    background-color: #666;
    color: #fff;
}


.slider {
    height: 300px;
    overflow: hidden;
    position: relative;
}


.slides {
    position: absolute;
    top: 0;
    left: 0;
}



.slide {
    position: relative;
}


.slide img {
    display: block;
}


.slide h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 40px;
    text-shadow: 0px 0px 8px rgba(0,0,0,1);
    transform: translate(-50%,-50%);
}



.contents {
    display: flex;
    gap: 15px;
    padding: 10px 0;
}

.tab, .banner, .link {
    width: 390px;
}


.banner img, .link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.tab_title {
    display: flex;
    gap: 4px;
    border-bottom: 3px solid orangered;
}


.tab_title h3 {
    height: 42px;
    background-color: #ddd;
    flex: 1;
    text-align: center;
    line-height: 42px;
    font-weight: normal;
    font-size: 18px;
    cursor: pointer;
}


.tab_title h3.on {
    background-color: orangered;
    color: #fff;
}


.tab_contents .notice {
    padding: 10px 
    display: block;
}

.tab_contents .notice li {
    display: flex;
    justify-content: space-between;
}


.tab_contents .notice li a {
    display: block;
    padding: 6px 0;
    width: 73%;
    /* css 말줄임 한줄로 보이기 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.tab_contents .notice li a:hover {
    text-decoration: underline;
}


.gallery {
    text-align: center;
    display: none;
}

.gallery li {
    display: inline-block;
    padding: 25px 14px;
}



.banner {}



.link {}



.footer {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #ddd;
    justify-content: space-between;
    padding: 20px;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 340px;
    background-color: white;
    border: 1px solid #666;
    padding: 30px;
    transform: translate(-50%,-50%);    
}

.modal h3 {
    font-size: 24px;
}

.modal p {
    margin: 20px 0;
    line-height: 1.5;
}

.modal button {
    border: none;
    padding: 6px ;
    background-color: #666;
    color: #fff;
}